/*accueil.scss*/

.section-accueil {


  .img-avatar {
    border: 1px ridge #c4b280;
  }

  .accueil-child-1-item-right {

    // Medium devices (tablets, 768px and up)
    @media (max-width: 767px) {
      margin-top: 7vh;
    }

  }

  .container-btn {
    margin-bottom: 10vh !important;

    .btn-home {
      border: 5px solid #c4b280;
      color: #c4b280;
      background-color: #000;
      padding: 10px 5px;
      border-radius: 10px;
      font-weight: 700;
      font-family: $font1;
      letter-spacing: 0.2rem;

      &:hover {
        border: 5px outset #000;
        color: #000;
        background-color: #c4b280;
      }

      &:after {
        border: 5px solid #c4b280;
        color: #c4b280;
        background-color: #000;
      }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {
        font-size: 1.4rem !important;
        letter-spacing: 0.2rem !important;
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        font-size: 1.2rem !important;
        letter-spacing: 0.1rem !important;
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        font-size: 1rem !important;
        letter-spacing: 0.2rem !important;
      }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        font-size: 1rem !important;
        letter-spacing: 0.1rem !important;
      }

      // Small devices (portrait phones, 300px and up)
      @media (max-width: 575.98px) {
        font-size: 0.8rem !important;
        letter-spacing: 0.1rem !important;
      }


    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 992px) {
      margin-top: 7vh;
    }
    .btn-portfolio {
      // Medium devices (tablets, 768px and up)
      @media (max-width: 992px) {
        margin-top: 3vh !important;
      }
    }

  }



}
