/*footer.scss*/

footer {
  background-color: #000;


  .text-footer {
    color: #c4b280;

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      font-size: 2rem !important;
      letter-spacing: 0.3rem !important;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      font-size: 1.8rem !important;
      letter-spacing: 0.2rem !important;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      font-size: 1.6rem !important;
      letter-spacing: 0.2rem !important;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      font-size: 1.4rem !important;
      letter-spacing: 0.3rem !important;
    }

    // Small devices (portrait phones, 300px and up)
    @media (max-width: 575.98px) {
      font-size: 1rem !important;
      letter-spacing: 0.1rem !important;
    }

  }
}