/*nav.scss*/

nav {
  background-color: #000;
  border-bottom: 3px solid #c4b280;

  /*navbar-nav*/
  .navbar-nav {
    li {
      font-family: $font3;
      letter-spacing: 0.2rem;

      a {
        color: #c4b280 !important;
      }
    }

    /*link admin en rouge*/
    .link-admin {
      color: red !important;
    }

    /*link admin disable en blanc*/
    .link-disable {
      color: #fff !important;
    }

  }

}

