/*app.scss*/


/* breakpoints bootstrap -taille d'écran- */

/*
// Extra large devices (large desktops, 1200px and up)
@media screen and  (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {

}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {

}

// Small devices (portrait phones, 300px and up)
@media screen and (max-width: 575.98px) {

}
*/

/* app.scss fichier de surcharge */


html, body {
  padding: 0 !important;
  margin: 0 auto !important;
  box-sizing: border-box;
  max-width: 100% !important;
  height: 100% !important;
}
html {
  scroll-behavior: smooth;
}

main {
  min-height: 80vh !important;
}

/*cache des elements*/
.hidden {
  display: none;
}

/*edge font*/
@font-face {
  font-family: "tourner";
  src: url("../../fonts/tourner.ttf");
  font-display: auto;
}

/*varino font*/
@font-face {
  font-family: "varino";
  src: url("../../fonts/varino.ttf");
  font-display: auto;
}


/*variables des polices*/

/*edge*/
$font1: 'varino';

/*varino*/
$font2: 'tourner';

$font3:  "Lucida Console", "Courier New", monospace;

.font1 {
  font-family: $font1;
}

.font2 {
  font-family: $font2;
}


.font3 {
  font-family: $font3;
}

.color1 {
  color: #c4b280 !important;
}



.text-xl {

  font-family: $font3;

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    font-size: 3.2rem !important;
    letter-spacing: 0.4rem !important;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 2.6rem !important;
    letter-spacing: 0.3rem !important;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 2.2rem !important;
    letter-spacing: 0.4rem !important;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    font-size: 2.4rem !important;
    letter-spacing: 0.4rem !important;
  }

  // Small devices (portrait phones, 300px and up)
  @media (max-width: 575.98px) {
    font-size: 1.8rem !important;
    letter-spacing: 0.2rem !important;
  }

}


.text-l {
  font-family: $font3;

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    font-size: 1.4rem !important;
    letter-spacing: 0.2rem !important;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 1.2rem !important;
    letter-spacing: 0.1rem !important;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 1rem !important;
    letter-spacing: 0.1rem !important;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    font-size: 1.2rem !important;
    letter-spacing: 0.2rem !important;
  }

  // Small devices (portrait phones, 300px and up)
  @media (max-width: 575.98px) {
    font-size: 1rem !important;
    letter-spacing: 0.1rem !important;
  }

}



